<header>
	<div>
	   	<a href="../index">
	        <img class="logo" src="../../assets/images/logo.jpg" alt="Girl in a jacket" style="width:200px;height:150px;">
	    </a>
	</div>
</header>
<div class="connections"> 
    <a href="/connections">Connections</a>
</div>
<% if (clicked === true) { %>
	<div class="hey"> 
	    
	</div>
<% } %>