<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
        <meta charset="utf-8">
        <title>Food Zone</title>
        <link href="/assets/stylesheets/mystyle.css" rel="stylesheet" type="text/css"/>
   </head>
   <body>
      <div class="all">
         <% include partials/navigation.ejs {clicked:clicked}%>
         <% include partials/header.ejs %>
         
            <article>
               <h2>Food zone mission </h2>
               <p> To us, there’s nothing better than a group of people sharing the experience of a meal – making it, eating it, talking about it and hazily remembering the good things about it the next morning. </p>
            </article>
        <% include partials/footer.ejs %>
      </div>
   </body>
</html>